* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 432px;
}
div {
  text-align: center
}

a {
	text-decoration: none;
	color: black;
}

header {
  margin-bottom: 20px;
}

.logo {
  margin: 10px 0;
}
.menu {
}

.menu > li {
  transition: 0.2s;
	position: relative;
  display: inline-block;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.menu > li > a {

  width: 100px;
  display: block;
  padding: 10px;
}

.menu:nth-child(even) {
  border-left: none;
  border-right: none;
}

.menu > li:hover, .menu > li ul > li:hover {
	background-color: #F5F5F5;
}

.menu > li ul {/* sub-menu */
  position: absolute;
  top: 39px;
  left: 0px;
  display: none;
  text-align: center;
  font-size: 0.9rem;
  list-style: none;
  background-color: #FFF;
}

.menu > li:hover ul {
  display: block;
}

.menu > li ul > li {
  transition: 0.2s;
  border-bottom: 1px solid black;
}

.menu > li ul > li a {
  line-height: 30px;
  display: block;
  height: 30px;
  width: 100px;
  padding: 10px;
}

.menu > li ul > li a span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
