* {
  margin: 0;
  padding: 0;
}

body {
}

div {
  text-align: center
}

header {
  margin-bottom: 20px;
}

.logo {
  margin: 10px 0;
}

.menu {
  width: 500px;
  margin: auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

a, a:active, a:focus, a:hover {
  text-decoration: none;
  color: black;
}

.menu > li {
  transition: 0.2s;
	position: relative;
  display: inline-block;
}

.menu > li > a {
  font-size: 2rem;
  display: block;
  padding: 15px 20px 15px 20px;
}

.menu:nth-child(even) {
  border-left: none;
  border-right: none;
}

.menu > li:hover, .menu > li ul > li:hover {
	background-color: #F5F5F5;
}

.menu > li ul {/* sub-menu */
  position: absolute;
  top: 58px;
  left: 0px;
  display: none;
  text-align: center;
  list-style: none;
  background-color: #FFF;
}

.menu > li:hover ul {
  display: block;
}

.menu > li ul > li {
  transition: 0.2s;
  border-bottom: 1px solid black;
}

.menu > li ul > li:nth-child(1) {
  border-top: 1px solid black;
}

.menu > li ul > li a {
  line-height: 30px;
  display: block;
  width: 89.25px;
  padding: 10px;
}

.menu > li ul > li a span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
