.btn {
  padding: 5px;
  transition: 0.2s;
}

.btn:focus, .name-block input:focus {
}
.name-block {
	text-align: center;
	padding: 5px;
}

.name-block input {
	width: 120px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.name-block button {
	font-size: 1.3rem;
}